@import "_setting.scss";

$column-header-height: 40px;
$column-footer-height: 40px;
$colum-border-radius: 5px;

$list-bg-color: #ebecf0;

.column {
  flex: 0 0 auto;
  width: 300px;
  height: calc(100% - #{$gap});
  // box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  &:not(:first-child) {
    margin-left: $gap;
  }
  > * {
    background-color: $list-bg-color;
    color: #333;
    padding: 0 8px;
  }
  header {
    padding-left: 16px;
    height: $column-header-height;
    width: 100%;
    line-height: $column-header-height;
    font-size: 16px;
    font-weight: bold;
    border-top-left-radius: $colum-border-radius;
    border-top-right-radius: $colum-border-radius;
    position: relative;
    cursor: pointer;
    i {
      font-size: 12px;
      position: absolute;
      top: 35%;
      right: $gap;
      display: none;
    }
    &:hover {
      i {
        display: block;
      }
    }
  }
  ul.card-list {
    list-style: none;
    margin: 0;
    max-height: calc(
      100% - #{$column-header-height} - 2*#{$column-footer-height}
    );
    overflow-y: auto;
    &::-webkit-scrollbar {
      -webkit-appearance: none;
    }
    &::-webkit-scrollbar:vertical {
      width: 11px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: darken($list-bg-color, 15);
      border-right: 5px solid $list-bg-color;
    }
  }
  footer {
    padding: 6px $gap;
    height: $column-footer-height;
    line-height: $column-footer-height;
    border-bottom-left-radius: $colum-border-radius;
    border-bottom-right-radius: $colum-border-radius;
    .add-card-btn {
      height: 84%;
      display: flex;
      align-items: center;
      color: $fade-text-color;
      padding: 8px 8px;
      border-radius: $colum-border-radius;
      &:hover {
        cursor: pointer;
        background-color: #ccc;
      }
      i {
        margin-right: 8px;
      }
    }
  }
}
