@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

$gap: 10px;

$board-bg-color: #0079bf;
$common-element-bg-color: rgba(55, 255, 255, .24);

// screen
$screen-lg: 1201px;
$screen-md: 992px;
$screen-sm: 768px;
$screen-phone: 400px;