@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

$gap: 10px;

$regular-color: #0079bf;
$board-bg-color: #0079bf;
$common-element-bg-color: rgba(55, 255, 255, 0.24);
$hover-bg-color: rgba(0, 0, 0, 0.24);
$fade-text-color: #5E6C84;

// screen
$screen-lg: 1201px;
$screen-md: 992px;
$screen-sm: 768px;
$screen-phone: 400px;
